Wav2Lip/checkpoints/*
Wav2Lip/face_detection/detection/sfd/s3fd.pth
Wav2Lip/results/*
Wav2Lip/temp/*
Wav2Lip/sample_data/*
*pycache*
Wav2Lip/image_animation/checkpoint_imgAnimation/*
Wav2Lip/image_animation/movement_video.mp4
deepvoice3*
resemble_tts/results*
resemble_tts/sample_data*
huggingface*
Audio-driven*
dataset/*
!dataset/*.sh
!dataset/*.py
subjective_study/*
google_stt_tts/deepsvid-5feb4619577c.json
resemble_tts/resemble_config.json
dataset/Demo.mp4
dataset/Demo.webm
dataset/Demo2.mp4
dataset/Demo3.mp4
dataset/Demo.jpg